<a href="https://colab.research.google.com/github/aman161upadhyay/Datacamp/blob/main/00_AI_begin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SECTION 00. PYTHON

# Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

# Variable Assignments

In [ ]:
#We use the assignment operator (=) to assign values to a variable

a = 10
b = 5.5
c = "ML"

# Multiple Assignments

In [ ]:
a, b, c = 10, 5.5, "ML"

In [ ]:
a = b = c = "AI" #assign the same value to multiple variables at once

# Storage Locations

In [ ]:
x = 3

print(id(x))               #print address of variable x

93892081305352

In [ ]:
y = 3

print(id(y))               #print address of variable y

93892081305352

Observation:

x and y points to same memory location

In [ ]:
y = 2
print(id(y))               #print address of variable y

93892081305376

# Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [ ]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

(5, ' is of type', <type 'int'>)

In [ ]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

(2.5, ' is of type', <type 'float'>)

In [ ]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))

((1+2j), ' is complex number?')
True

# Boolean

 Boolean represents the truth values False and True

In [ ]:
a = True                          #a is a boolean type
print(type(a))

<type 'bool'>

# Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [ ]:
s = "This is Online AI course"
print(s)

This is Online AI course

In [ ]:
print(s[0])
#last char s[len(s)-1] or s[-1]

T

In [ ]:
#slicing
s[5:]

'is Online AI course'

# Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [ ]:
a = [10, 20.5, "Hello"]
print(a[1])               #print 1st index element

20.5

Lists are mutable, meaning, value of elements of a list can be altered.

In [ ]:
a[1] = 30.7
print(a)

[10, 30.7, 'Hello']

# Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [ ]:
t = (1, 1.5, "ML")

In [ ]:
print(t[1]) #extract particular element

1.5

In [ ]:
t[1] = 1.25

TypeError: 'tuple' object does not support item assignment

# Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [ ]:
a = {10, 30, 20, 40, 5}
print(a)

set([40, 10, 20, 5, 30])

In [ ]:
print(type(a))             #print type of a

<type 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values.

In [ ]:
s = {10, 20, 20, 30, 30, 30}
print(s)                    #automatically set won't consider duplicate elements

set([10, 20, 30])

# Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [ ]:
d = {'a': "apple", 'b': "bat"}
print d['a']

apple

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [ ]:
float(5)     #convert interger to float using float() method

5.0

In [ ]:
int(100.5)   #convert float to integer using int() method

100

In [ ]:
str(20)      #convert integer to string

'20'

Conversion to and from string must contain compatible values.

In [ ]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [ ]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, satish! You just wrote 100 lines of code

We can convert one sequence to other

In [ ]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<type 'list'>
<type 'set'>

In [ ]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']

# Python Input and Output

# Python Output

We use the print() function to output data to the standard output device

In [ ]:
print("Hello World")

Hello World

In [ ]:
a = 10
print("The value of a is", a) #python 3
print "The value of a is " + str(a)

('The value of a is', 10)
The value of a is 10

# Output Formatting

In [ ]:
a = 10; b = 20 #multiple statements in single line.

print("The value of a is {} and b is {}".format(a, b))    #default

The value of a is 10 and b is 20

In [ ]:
a = 10; b = 20  #multiple statements in single line

print("The value of b is {1} and a is {0}".format(a, b)) #specify position of arguments

The value of b is 20 and a is 10

In [ ]:
#we can use keyword arguments to format the string
print("Hello {name}, {greeting}".format(name="satish", greeting="Good Morning"))

Hello satish, Good Morning

In [ ]:
#we can combine positional arguments with keyword arguments
print('The story of {0}, {1}, and {other}'.format('Bill', 'Manfred',
                                                       other='Georg'))

The story of Bill, Manfred, and Georg

# Python Input

want to take the input from the user. In Python, we have the input() function to allow this.

In [ ]:
num = input("Enter a number: ")
print num

Enter a number: 10
10

# Operators

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

# Operator Types

1. Arithmetic operators
    
2. Comparison (Relational) operators

3. Logical (Boolean) operators

4. Bitwise operators

5. Assignment operators

6. Special operators

# Arithmetic Operators

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

    + , -, *, /, %, //, **  are arithmetic operators

Example:

In [ ]:
x, y = 10, 20

#addition
print(x + y)

#subtraction(-)

#multiplication(*)

#division(/)

#modulo division (%)

#Floor Division (//)

#Exponent (**)

30

# Comparision Operators

Comparison operators are used to compare values. It either returns True or False according to the condition.

    >, <, ==, !=, >=, <= are comparision operators

In [ ]:
a, b = 10, 20         

print(a < b)  #check a is less than b

#check a is greater than b

#check a is equal to b

#check a is not equal to b (!=)

#check a greater than or equal to b

#check a less than or equal to b

True

# Logical Operators

Logical operators are  **and, or, not** operators.

In [ ]:
a, b = True, False

#print a and b
print(a and b)

#print a or b

#print not b

False

# Bitwise operators

Bitwise operators act on operands as if they were string of binary digits. It operates bit by bit

    &,  |,  ~,  ^,  >>,  << are Bitwise operators

In [ ]:
a, b = 10, 4

#Bitwise AND
print(a & b)

#Bitwise OR


#Bitwise NOT


#Bitwise XOR


#Bitwise rightshift


#Bitwise Leftshift

0

# Assignment operators

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

    =,  +=,  -=,  *=,  /=,  %=,  //=,  **=, &=,  |=,  ^=,  >>=,  <<= are Assignment operators

In [ ]:
a = 10

a += 10         #add AND
print(a)

#subtract AND (-=)

#Multiply AND (*=)

#Divide AND (/=)

#Modulus AND (%=)

#Floor Division (//=)

#Exponent AND (**=)

20

# Special Operators

# Identity Operators

**is and is not** are the identity operators in Python. 

They are used to check if two values (or variables) are located on the same part of the memory.

In [ ]:
a = 5
b = 5
print(a is b)    #5 is object created once both a and b points to same object

#check is not

True

In [ ]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 is l2)

False

In [ ]:
s1 = "Satish"
s2 = "Satish"
print(s1 is not s2)

False

# MemberShip Operators

**in and not in** are the membership operators in Python. 
    
They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and   dictionary).

In [ ]:
lst = [1, 2, 3, 4]
print(1 in lst)       #check 1 is present in a given list or not

#check 5 is present in a given list

True

In [ ]:
d = {1: "a", 2: "b"}
print(1 in d)

True

In [ ]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: 'set' object does not support indexing